<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post - pinkkit</title>
    <link rel="stylesheet" href="style.css">
    <script src="static/js/index.js" defer> </script>
    <script src="static/js/forms.js" defer> </script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="logout.html" id="logout">Logout</a></li>
		        <li><a href="editprofile.html" id="editprofile">Edit Profile</a></li>
            </ul>
        </nav>
        <h1>Create Post</h1>
    </header>

    <section class="container">
        <form class="post-form" action="#" method="POST">
            <label for="post-title">Title:</label>
            <input type="text" name="post-title" id="post-title" required>

            <label for="post-body">Body:</label>
            <textarea name="post-body" id="post-body" required></textarea>

            <button type="submit">Submit</button>
        </form>
    </section>

    <footer>
        <p>&copy; 2023 pinkkit. All rights reserved.</p>
    </footer>

    <script src="https://kit.fontawesome.com/69c55ad5c0.js" crossorigin="anonymous"></script>
</body>
</html>
